<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjut.bjut_clouddisk.mapper.NormalUserMapper">

    <insert id="NormalUserRegister"
            parameterType="com.bjut.bjut_clouddisk.entity.NormalUserEntity">
        insert into normal_user(username, password, headImgUrl, email) values (#{username}, #{password}, #{headImgUrl}, #{email})
    </insert>

    <select id="NormalUserLogin"
            parameterType="com.bjut.bjut_clouddisk.entity.NormalUserEntity"
            resultType="com.bjut.bjut_clouddisk.entity.NormalUserEntity">
        select * from normal_user where username = #{username} and password = #{password}
    </select>

</mapper>

